/*MOBILE SCREENS FOR GRAPHICS PAGE*/

  .design {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
  }

  .row {
    list-style: none;
  }
  
  /*TABLET SCREENS FOR GRAPHICS PAGE*/
  @media screen and (min-width: 600px) {
    
  
  /*DESKTOP SCREENS FOR GRAPHICS PAGE*/
  @media screen and (min-width: 900px) {
    main {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  
    .row {
      width: 100%;
      display: flex;
      list-style: none;
      margin: 10px;
    }
   
    img {
      width: 300px;
    }
  }
  
  