.intro {
    display: flex;
    flex-direction: column;
}

.half {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-bottom: 1vh;
}


@media screen and (min-width: 1000px) {

    .intro, .about-me, .skills-wrapper, .services-wrapper {
        display: flex;
        flex-direction: row;
        margin-top: 1vh;
        background: rgb(240, 248, 255);
    }
    
    .half {
        width: 49%;

    }

    .reverse {
        flex-direction: row-reverse;
    }

}